.survery__header {
    display: flex;
    justify-content: space-between;
}

.survey__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #1F0F38;
    font-size: 30px;
}

.feva {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #6733B5;
    font-size: 28px;
}

.survery__repeat {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 0.56em;
    -webkit-text-stroke: 1px#1F0F38;
    color: #fff;
    cursor: none;
}

.survery__repeat:nth-child(2) {
    -webkit-text-stroke: none;
    color: #1F0F38;
}

.quesBtngroup {
    display: flex;
    justify-content: end;
    align-items: center;
}

.quesBtn {
    color: #1F0F38;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding: 1rem 3rem;
    background: transparent;
    border: 1px solid #DADADA;
    border-radius: 50px;
}

.ques__number {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 800;
    line-height: 0.56em;
    -webkit-text-stroke: 1px#1F0F38;
    color: #fff;
    cursor: none;
}

.ques {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #1F0F38;
    font-size: 20px;
}

.title2 {
    position: relative;
    padding: 200px 0;
}

.survery_title2 {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #1F0F38;
    font-size: 35px;
}

.quesImg,
.survery_title2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {

    .survey__title,
    .feva {
        font-size: 22px;
    }

    .survery__header {
        flex-direction: column;
    }

    .quesBtn {
        color: #1F0F38;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        padding: 10px 20px;
        width: 5rem;
        font-size: 14px;
        background: transparent;
        border: 1px solid #DADADA;
        border-radius: 50px;
        margin-top: 0 !important;
    }

    .ques__number {
        font-size: 25px;
    }

    .survery__repeat {
        font-size: 45px;
        text-align: start;
    }

    .ques {
        font-size: 16px;
    }

    .mt-5 {
        margin-top: 0 !important;
    }

    .survery_title2 {
        font-size: 18px;
    }
}